<!DOCTYPE html>
<html>
    <head>
        <title>Login</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css" />
    </head>
    <body>
        <div class="column is-offset-4">
            <p class="login">Login here!</p>
            <div class="box">
                <form method="POST">
                    <label for="username">Username</label>
                    <div class="field">
                        <input name="username" id="username" required>
                    </div>
                    
                    <label for="password">Password</label>
                    <div class="field">
                        <input type="password" name="password" id="password" required>
                    </div>
                    
                    <input type="submit" value="Log In">
                  </form>
            </div>
        </div>
        
    </body>
</html>